body {
    background-color: #dfc6b0;
}

table {
    background-color: white;
    border-spacing: 4pt;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-weight: normal;
    background-color: #b69f85;
    color: white;
    padding: 4pt;
    text-align: left;
    font-size: larger;
}

td {
    background-color: #dad4c9;
    padding: 4pt;
}

h1 {
    text-align: center;
}

img.title {
    display: block;
    margin: 0 auto;
}

img.cat {
    float: left;
}

.irogep {
    font-family: 'Courier New', Courier, monospace;
}