body {
    background-color: #00008b;
}

table {
    background-color: #f5deb3;
    margin-right: auto;
    margin-left: auto;
    border: 0pt;
}

img {
    display: block;
}

table.szoveg {
    width: 60%;
}

table.euhimnusz {
    width: 90%;
}

td {
    padding: 5pt;
}

h2 {
    color: white;
    text-align: center;
}

a.szoveg {
    color: white;
}